@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: hsl(240, 78%, 98%);
    font-family:'Montserrat';
    text-align: center;
    display: flex;
    color:hsl(232, 13%, 33%);
    /* justify-content: center; */
    min-height: 100vh;
}

body::before{
    content: "";
    background-image: url('./images/bg-top.svg');
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;
}

body::after{
    content: "";
    background-image: url('./images/bg-bottom.svg');
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: -1;
}

.container{
   margin: auto;
   max-width: 100%;
   width: 1200px;
}

h1{
    color: hsl(233, 13%, 49%);
}

.price-box ul{
    list-style-type: none;
    padding: 0;
    border-top: 1px solid hsl(234, 14%, 74%);
}

.flex{
    display: flex;
    align-self: center;
    justify-content: center;
}

.price-box{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin: 10px;
    color: hsl(233, 13%, 49%);
}

.price-box .monthly{
    display: none;
}

.show-monthly .price-box .monthly{
    display: block;
}

.show-monthly .price-box .annually{
    display: none;
}

.price-box.price-box-premium{    
    background-image: linear-gradient( 
        to right, 
        hsl(236, 72%, 79%), 
        hsl(237, 63%, 64%));
    color: #fff;

    transform: scale(1.1);
}

.price-box.price-box-premium > *{
    transform: scale(0.9);
}

.price-box p {    
    font-size: 4em;
    margin: 0 auto;
    width: 250px;
}

.price-box ul li{
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 1em;
    
}

.price-box button{
    background-image: linear-gradient( to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    border: none;
    padding: 1em 6em;
    border-radius: 5px;
    font-family:'Montserrat';
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.price-box button:hover{
    background-image: linear-gradient( to right, hsl(236, 72%, 70%) , hsl(237, 63%, 68%));
}

.price-box button:active{
    transform: translateY(2px);
}

.price-box-premium button{
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
}

.price-box-premium button:hover{
    background-image: none;
    background-color: hsl(240, 78%, 98%);
    border-color: #fff;
}

.toggle-container{
    color: hsl(234, 14%, 74%);
    margin-bottom: 40px;
    display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-container label{
    background-color: hsl(237, 63%, 64%);
    display: inline-block;
    height: 30px;
    width: 70px;
    border-radius: 50px;
    position: relative;
    margin: 1em;
    cursor: pointer;
}

.toggle-container input{
    position: absolute;
    left: -9999px;
}

.toggle-container label .ball{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    transition: transform 0.4s ease;
}

 .toggle-container input:checked + label .ball{
    transform: translateX(40px);
} 

@media screen and (max-width: 930px) {
    .flex{
        flex-direction: column;        
    }   
    
    .price-box.price-box-premium{
        transform: scale(1);
    }

    .price-box.price-box-premium > *{
        transform: scale(1);
    }
}